@model DotaAPI.Models.New_Hero
@{
    ViewData["Title"] = "Create a Hero";
}
<form asp-controller="Create" role="form" enctype="multipart/form-data" asp-action="Submit" method="POST">
    <h3>Base Hero</h3>
    <select class='form-control' name="hero_id">
        <option value="0"></option>
        @{
            foreach(var x in ViewBag.heroes)
            {
                <option value="@x.id">@x.name</option>
            }
        }
    </select> <span asp-validation-for="hero_id"></span>
    <h3>Name</h3>
    <input class='form-control' type="text" name="name"> <span asp-validation-for="name"></span>
    <h3>Biography <span style="font-size: 10pt">(optional)</span></h3> 
    <textarea class='form-control' name="bio">@ViewBag.bio</textarea> <span asp-validation-for="bio"></span>
    <h3>Regular spells</h3>
    <select class='form-control' name="spell_1_id">
        <option value='0'></option>
        @{
            foreach(var x in ViewBag.regulars)
            {
                <option value="@x.id">@x.name</option>
            }
        }
    </select>
    <select class='form-control' name="spell_2_id">
        <option value='0'></option>
        @{
            foreach(var x in ViewBag.regulars)
            {
                <option value="@x.id">@x.name</option>
            }
        }
    </select>
    <select class='form-control' name="spell_3_id">
        <option value='0'></option>
        @{
            foreach(var x in ViewBag.regulars)
            {
                <option value="@x.id">@x.name</option>
            }
        }
    </select> <span asp-validation-for="spell_1_id"></span>
    <h3>Ultimate</h3>
    <select class='form-control' name="spell_4_id">
        <option value='0'></option>
        @{
            foreach(var x in ViewBag.ultimates)
            {
                <option value="@x.id">@x.name</option>
            }
        }
    </select> <span asp-validation-for="spell_4_id"></span>
    <h3>Portrait (optional)</h3>
    <p>If you do not upload a portrait, your hero will appear as the base hero.</p>
    <input type="file" name="file" /><br>
    <input class="btn btn-default" type="submit">
</form>