@model DotaAPI.Models.NewHeroDisplay
@{
    ViewData["Title"] = Model.name;
}
<h2>@Model.name</h2>
@if(ViewBag.user_image == false)
{
    string img = "http://cdn.dota2.com/apps/dota2/images/heroes/";
    img += ViewBag.img;
    img += "_vert.jpg";
    <img src="@img" width=20%><br><br>
}
else
{
    string img = "https://s3-us-west-2.amazonaws.com/dhcimages/";
    img += ViewBag.img;
    <img src="@img" width=20%><br><br>
}
@if(ViewBag.username != null)
{
    <p>Created by <a href="/users/@ViewBag.user_id">@ViewBag.username</a></p>
}
<p>Base Hero: <a href="/base/hero/@ViewBag.base_id">@Model.base_hero</a></p>
@if(Model.bio != null)
{
    <h3>Bio</h3>
    <p>@Model.bio</p>
}
<h3>Spells</h3>
@foreach(var x in Model.spells)
{
    <p><img src=@x.img width=30> <a href="/base/spell/@x.id">@x.name</a></p> 
}
<h3>Rating</h3>
@if(ViewBag.rating == null)
{
    <p>This hero has not been rated yet!</p>
}
else
{
    string vote = "vote";
    if(@ViewBag.voteCount > 1)
    {
        vote += 's';
    }
    <p>@ViewBag.rating% (@ViewBag.voteCount @vote)</p>
}
@if(ViewBag.loggedUser == null)
{
    <p><a href="/login">Log in</a> to rate this hero.</p>
}
else
{
    <form class="voteButton" asp-controller="Home" asp-action="VoteUp" method="post">
        <input hidden name="id" value="@Model.id">
        <input hidden name="user" value="@ViewBag.loggedUser">
        <input type="submit" value="ðŸ‘">
    </form>
    <form class="voteButton" asp-controller="Home" asp-action="VoteDown" method="post">
        <input hidden name="id" value="@Model.id">
        <input hidden name="user" value="@ViewBag.loggedUser">
        <input type="submit" value="ðŸ‘Ž">
    </form>
}
<p><a href="/heroes">Back</a></p>